<html>

<body>

    <div class="delete">
        <img src="/assets/DELETE3.png">
        <p>Are you Sure</p>
        <div> <button class="trash">DELETE</button>
            <button class="cancel">CANCEL</button>
        </div>
    </div>

</body>

</html>

<!-- delete-confirmation-modal.component.html -->
<!-- <div class="modal" [ngClass]="{ 'is-active': isActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete Confirmation</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
        </header>
        <section class="modal-card-body">
            <p>Are you sure you want to delete this item?</p>
        </section>
        <footer class="modal-card-foot">
            <button class="button" (click)="closeModal()">Cancel</button>
            <button class="button is-danger" (click)="deleteItem()">Delete</button>
        </footer>
    </div>
</div> -->