#outer-service-box{
    width: 37vw;
height: 100%;
background: #FFFFFF;
border: 0.75px solid rgba(33, 36, 39, 0.44);
border-radius: 0px 5px 5px 0px;
display: flex;
flex-direction: column;
align-items: center;
overflow: hidden;
    overflow-y: auto;
}

.service-title{
    width: 100%;
    height: 7vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.service-title-header{
    width: 9vw;
    height: 3vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}
.edit-logo{
    width: 1vw;
    height: 3vh;
}
.service-table-box{
    width: 36vw;
    height: 91vh;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
.service-table-data{
    width: 36vw;
    height: 60vh;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
  
}

/* .service-table{
    overflow: hidden;
    overflow-y: auto;
}
.service-table::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
} */
#table-header{
    width: 100%;
height: 7vh;

background: rgba(42, 46, 50, 0.78);
border: 1px solid rgba(42, 46, 50, 0.09);
border-radius: 3px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;

color: #FFFFFF;

}
.service-bill{
    width: 100%;
    height: 31vh;
    background: rgba(42, 46, 50, 0.04);
box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
border-radius: 2px;
display: flex;
flex-direction: column;
align-items: center;
}
.service-bill-details{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
align-items: center;
justify-content: space-evenly;
}
.billtag{
    width: 15vw;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 22px;
color: #000000;
}
.save-button{
    width: 10vw;
height: 5vh;
background: rgba(215, 239, 125, 0.58);
border-radius: 5px;
}
