<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@700&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    <body>
        <div class="outerbox">
        <div class="navbox">
        <!-- logo content -->
          
        <div class="logo">
        <div><img class="washlylogo" src="/assets/Logo_white.png"></div>
        <!-- <div class="content"><p>A DOORSTEP LAUNDRY SERVICE</p></div>  -->
        <p  class="content">A DOORSTEP LAUNDRY SERVICE</p>
        </div>
         <!-- menu bar content  -->
        <div class="menubar">
        <div class="Booking"><img class="logo1" src="/assets/Bookings.png"> 
        <span class="content1">&nbsp; Bookings</span></div> 
        <div class="Booking"><img class="logo1" src="/assets/Executives.png"> 
        <span class="content1">&nbsp; Executives</span></div> 
        <div class="Booking"><img class="logo1" src="/assets/Customers.png"> 
        <span class="content1">&nbsp; Customers</span></div> 
        <div class="Booking"><img class="logo1" src="/assets/Store.png"> 
        <span class="content1">&nbsp; Stores</span></div>
        <div class="Booking"><img class="logo1" src="/assets/Revenue.png"> 
        <span class="content1">&nbsp; Revenues</span></div> 
        <div class="Booking"><img class="logo1" src="/assets/Analytics.png"> 
        <span class="content1">&nbsp; Analytics</span></div> 
        </div>
        <!-- logout content -->
        <div class="logoutbox">
        <div class="logoutbox1"><img class="logoutlogo" src="/assets/logout.png"> 
        <span class="logoutfont">&nbsp; LOG OUT </span></div> 
        <span class="condition">&nbsp; Terms and conditions </span>
        </div>
         <!-- nav bar end div -->
        </div>
         <!-- main con start div -->
        <div class="main-container">
        <div class="sub-container">
         <!-- con-nav start div -->
        <div class="cont-navbar">
        <div ><p class="nav-condent">Bookings</p></div>
        <div class="booking-search">
            <img class="search-icon" src="/assets/Search icon.png">
            <p class="search-content">Search for stores, executives and more </p>
        </div>
        
        <div class="setting-content">
        <img class="notifiction-img" src="/assets/Notification.png">
        <img class="setting-img" src="/assets/Setting.png">
        <div class="profile-cont">
         <div class="profile-box">
         <img class="profile-img" src="/assets/profile.png"> 
         <p class="profile-word">PROFILE</p>
         </div>   
         </div>
        </div>
        </div>
         <!-- con-nav end div -->

         <!-- activity-status start div -->
        <div class="activity-status">
         <div class="pending-status">
            <p class="pending-cont">Pending</p>
         </div>
         <div class="pending-status">
            <p class="pending-cont">Ongoing</p>
         </div> 
         <div class="pending-status">
            <p class="pending-cont">Completed</p>
         </div> 
         <div class="pending-status">
            <p class="pending-cont">Rejected</p>
         </div>    
        </div>
        <!-- activity-status end div -->

        <!-- filter-box start div -->
        <!-- <div class="filter-box">
        <div class="filter-box1">
            <div ><p class="filter-name">Filters</p></div>
            <div class="filter-history">
                <img class="filter-image" src="/assets/History.png">
                <p class="filter-cont">FILTER HISTORY</p>
            </div>
        </div> 
        <div class="filter-box2">
            <div class="store-filter">
                <p class="store-cont">Stores</p>
                <img class="store-logo" src="/assets/Drop down.png">
            </div>
            <div class="store-filter">
                <p class="store-cont">Time slot</p>
                <img class="store-logo" src="/assets/Drop down.png">
            </div>
            <div class="store-filter1">
                <p class="store-cont">Customer name</p>
                <img class="store-logo" src="/assets/Drop down.png">
            </div>
            <div class="store-filter">
                <p class="store-cont">Service type</p>
                <img class="store-logo" src="/assets/Drop down.png">
            </div>
            <div class="store-filter1">
                <p class="store-cont">Assigning status</p>
                <img class="store-logo" src="/assets/Drop down.png">
            </div>
        </div>   
        </div>
        <!-- filter-box start div -->

        <!-- <div class="select-filter-box">
        <div class="result-show-box">
            <p class="result-show-cont">Showing 15 of 24 results</p>
        </div>
        <div class="filter-show-box">
            <div class="filter-show-cont">
                <p class="filter-content">Guduvanchery </p>
                <img class="closing-logo" src="/assets/Close.png">
            </div>
            <div class="filter-show-cont">
                <p class="filter-content">10:00 AM - 12 AM </p>
                <img class="closing-logo" src="/assets/Close.png">
            </div>
            <div class="filter-show-cont">
                <p class="filter-content">Sivaraman S</p>
                <img class="closing-logo" src="/assets/Close.png">
            </div>
            <div class="filter-show-cont">
                <p class="filter-content">Regular wash</p>
                <img class="closing-logo" src="/assets/Close.png">
            </div>
            <div class="filter-show-cont">
                <p class="filter-content">Not assigned</p>
                <img class="closing-logo" src="/assets/Close.png">
            </div>
        </div>
        </div> -->
        <!-- filter-box end div -->

         <!-- order-details start div -->
         <!-- <div id="overview-order-box">
         <div class="order-details">
         <div class="header-details">
            <p class="details-head-nav1">ORDER ID</p>
            <p class="details-head-nav2">STORE</p>
            <p class="details-head-nav3">STATUS</p>
         </div>
         <div class="sub-detail-box">
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Guduvanchery </p>
            <p class="order-status">ASSIGN</p>
         </div>
         <div><img class="play-logo" src="/assets/Play.png"></div>
        </div>
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Vandaloor </p>
            <p class="order-status">ASSIGN</p>
         </div>
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Chrompet </p>
            <p class="order-status">ASSIGN</p>
         </div>
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Perumattu nallur </p>
            <p class="order-status">ASSIGN</p>
         </div>
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Hasthina puram </p>
            <p class="order-status">ASSIGN</p>
         </div>
         <div class="header-details">
            <p class="order-id">X78976TY6546I</p>
            <p class="order-store">Thambaram </p>
            <p class="order-status">ASSIGN</p>
         </div>
         
         </div>
         <div class="order-detail-showbox">
           <div class="order-detail-box">
            <div class="order-detail-sub-box">
              <div><p class="order-detail-cont">ORDER DETAILS</p></div>
              <div>
              <div class="customer-name-box">
                <div class="customer-name-tag"><p class="customer-tag-name">Customer name</p></div>
                <div class="customer-name"><p class="customer-name-box">Sivaraman S</p> </div>
              </div>
              <div class="customer-pickup-box">
                <div class="customer-pickup-tag"></div>
                <div class="customer-pickup-address"></div>
              </div>
              <div class="customer-delivery-box">
                <div class="customer-delivery-tag"></div>
                <div class="customer-delivery-address"></div>
              </div>
              <div class="customer-phone-no-box">
                <div class="customer-phone-no-tag"></div>
                <div class="customer-phone-number"></div>
              </div>
              </div>
            </div>
           </div> 
           <div class="no-of-item-box"></div> 
         </div>
         </div> -->
        <!-- order-details end div -->
        <div class="booking-details-box">
          <div class="order-detail-box">
            <div *ngFor="let bookinglist of bookinglist; let i = index"  class="order-detail-cont">
                <!-- <div class="booking-detail-card"> -->
            <div ><p class="booking-id">{{bookinglist.id}}</p></div>
            <div ><p class="booking-store-name">{{bookinglist.place}}</p></div>
            <div ><p class="booking-date">{{bookinglist.date}}</p></div>
                <!-- </div> -->
            </div>
            
          </div>
          <div class="order-detail-show-box">
            <div class="booking-detail-show-box">
              <div class="booking-detail-nav-bar">
                <p class="booking-detail-header">BOOKING DETAILS</p>
               
              </div> 
              
              <div class="booking-customer-detail-box">
                <div id="booking-customer-detail-show-box">
                <div class="booking-detail-tag">
                  <div class="booking-tag-box"> <p class="booking-tag-name">Booking Id </p></div>
                  <div class="booking-name-box"><p class="booking-customer-name">78yu-67  </p></div>
                </div>
                <div class="booking-detail-tag">
                    <div class="booking-tag-box"> <p class="booking-tag-name">Customer Name</p></div>
                    <div class="booking-name-box"><p class="booking-customer-name">Arunkumar G</p></div>
                  </div>
                  <div class="booking-detail-tag">
                    <div class="booking-tag-box"> <p class="booking-tag-name">Date</p></div>
                    <div class="booking-name-box"><p class="booking-customer-name">25/07/2022</p></div>
                  </div>
                  <div class="booking-detail-tag">
                    <div class="booking-tag-box"> <p class="booking-tag-name">Store Name</p></div>
                    <div class="booking-name-box"><p class="booking-customer-name">Guduvanchery</p></div>
                  </div>
                  <div class="booking-detail-tag">
                    <div class="booking-tag-box"> <p class="booking-tag-name">Status</p></div>
                    <div class="booking-name-box"><p class="booking-customer-name">PENDING APPROVAL</p></div>
                  </div>
                  
                  </div>
                  <div id="booking-address-show-box">
                    <div class="booking-detail-nav-bar">
                        <p class="booking-address-header">PICKUP & DELIVERY DETAILS</p>
                      </div> 
                      <div class="booking-detail-tag">
                        <div class="booking-tag-box"> <p class="booking-tag-name">PickTimeSlot</p></div>
                        <div class="booking-name-box"><p class="booking-customer-name">8:00 AM - 10:00 AM  </p></div>
                      </div>
                      <div class="booking-detail-tag">
                        <div class="booking-tag-box"> <p class="booking-tag-name">DeliveryTimeSlot</p></div>
                        <div class="booking-name-box"><p class="booking-customer-name">8:00 AM - 10:00 AM  </p></div>
                      </div>
                    <div class="booking-partner-detail-tag">
                        <div class="booking-tag-pickup-partner-box"> <p class="booking-pickup-partner-name">Pickup partner name</p></div>
                        <div class="booking-partner-name-box"><button class="booking-partner-name-cont"><p class="booking-partner-name">Assign executive</p> <img class="dropdown-logo" src="/assets/dropdown.png"></button></div>
                      </div>
                      <div class="booking-partner-detail-tag">
                        <div class="booking-tag-pickup-partner-box"> <p class="booking-pickup-partner-name">Delivery partner name</p></div>
                        <div class="booking-partner-name-box"><button class="booking-partner-name-cont"><p class="booking-partner-name">Assign executive</p> <img class="dropdown-logo" src="/assets/dropdown.png"></button></div>
                      </div>
                  <div class="booking-detail-tag-address">
                    <div class="booking-tag-address-box"><img class="location-logo" src="/assets/Location.png"> <p class="booking-tag-address">Pickup address</p></div>
                    <div class="booking-address-box"><p class="booking-customer-address">14/A, Eaststreet,Westkottaram, V.k Puram,Tirunelveli. 627422</p></div>
                  </div>
                  <div class="booking-detail-tag-address">
                    <div class="booking-tag-address-box"><img class="location-logo" src="/assets/Location.png"> <p class="booking-tag-address">Delivery address</p></div>
                    <div class="booking-address-box"><p class="booking-customer-address">14/A, Eaststreet,Westkottaram, V.k Puram,Tirunelveli. 627422</p></div>
                  </div>
                  <div id="approve-reject-butt-box"><button class="booking-approve-button">APPROVE</button>
                    <button class="booking-reject-button">REJECT</button>
                </div>
                  </div>
              </div> 
            </div>
            <div id="service-detail-box">
                <div class="service-detail-nav-bar">
                    <p class="service-detail-header">SERVICE DETAILS</p>
                    <img class="edit-logo" src="/assets/EDIT.png"> 
                  </div>
                  <div id="service-detail-show-box">
                  <div id="service-table-detail-box">
                    
                  </div>
                  <div id="service-bill-detail-box">
                   
                  </div>
                  </div>

            </div>
          </div>
          
        </div>
    
        </div>
        </div>
    
     </div>
     
    </body>
</html>
<!-- <washly-table></washly-table>

<table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
          </div>
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
        <div *ngIf="element.isEdit">
          <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
            <button mat-button (click)="element.isEdit = !element.isEdit">Done</button>
          </div>
          <ng-template #dataField>
            <mat-form-field>
              <input
                [type]="col.type"
                matInput
                [(ngModel)]="element[col.key]"
              />
            </mat-form-field>
          </ng-template>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->

  <!-- <button *ngIf="!editing" (click)="startEditing()">Edit</button>
    <button *ngIf="editing" (click)="stopEditing()">Save</button>
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{column}}</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of data; let rowIndex = index">
      <td *ngFor="let data of row; let colIndex = index">
        <input *ngIf="editing" type="text" [value]="data" (input)="onEdit(rowIndex, colIndex, $event)" >
        <div *ngIf="!editing">{{data}}</div>
      </td>
    </tr>
      </tbody>
    </table>
    <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          <th mat-header-cell *matHeaderCellDef>
            {{ col.label }}
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
              </div>
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
            </div>
            <div *ngIf="element.isEdit">
              <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
                <button mat-button (click)="element.isEdit = !element.isEdit">Done</button>
              </div>
              <ng-template #dataField>
                <mat-form-field>
                  <input
                    [type]="col.type"
                    matInput
                    [(ngModel)]="element[col.key]"
                  />
                </mat-form-field>
              </ng-template>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->