<html>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@700&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="nav">
        <div class="logo"><img src="/assets/Logo_white.png" /></div>
        <p class="title">A DOORSTEP LAUNDRY SERVICE</p>
        <div class="menubar">
            <div class="booking">
                <img class="icon" src="/assets/Bookings.png" />
                <p class="content">&nbsp;&nbsp;Bookings</p>
            </div>
            <div class="booking">
                <img class="icon" src="/assets/Executives.png" />
                <p class="content">&nbsp;&nbsp;Executives</p>
            </div>
            <div class="booking">
                <img class="icon" src="/assets/Customers.png" />
                <p class="content">&nbsp;&nbsp;Customers</p>
            </div>
            <div class="booking">
                <img class="icon" src="/assets/Store.png" />
                <p class="content">&nbsp;&nbsp;Stores</p>
            </div>
            <div class="booking">
                <img class="icon" src="/assets/Revenue.png" />
                <p class="content">&nbsp;&nbsp;Revenue</p>
            </div>
            <div class="booking">
                <img class="icon" src="/assets/Analytics.png" />
                <p class="content">&nbsp;&nbsp;Analytics</p>
            </div>
        </div>
        <div class="logout">
            <div class="log-one">
                <img class="exit" src="/assets/icons8-logout-24 1.png" />
                <P id="p1">LOG OUT</P>
            </div>
            <p id="p2">Terms and conditions</p>
        </div>
    </div>
</body>

</html>