.nav {
    width: 18vw;
    height: 100vh;
    background: linear-gradient( 188.78deg, #000001 27.81%, rgba(14, 15, 17, 0.981559) 46.75%, rgba(33, 36, 39, 0.955011) 66.65%, rgba(33, 36, 39, 0.920709) 70.94%, rgba(33, 36, 39, 0.802728) 80.65%, rgba(33, 36, 39, 0.740568) 84.17%, rgba(33, 36, 39, 0.615767) 88.56%, rgba(33, 36, 39, 0.495308) 92.08%, rgba(6, 0, 35, 0.0210613) 99.95%, rgba(33, 36, 39, 0.0869873) 99.99%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Media query for screens with a minimum width of 600 pixels */


/* @media (min-width: 600px) {
    body {
        font-size: 18px;
    }
    .nav {
        width: 20vw;
    }
} */


/* Media query for screens with a minimum width of 900 pixels */


/* @media (min-width: 2500px) {
    body {
        font-size: 20px;
    }
    .nav {
        width: 25vw;
    }
} */

.logo {
    width: 170px;
    height: 120px;
    position: relative;
    left: 3.5vw;
    top: 4vh;
}

.logotitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 10px;
    position: absolute;
    top: 10.5vh;
    left: 0.3vw;
    opacity: 0.5;
}

.options {
    color: #ffffff;
    margin-left: 3.5vw;
    position: relative;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 43vh;
}

.booking {
    width: 10vw;
    height: 4vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 18px;
}

.booking:hover {
    border-radius: 10px;
    background-color: rgb(51, 51, 51);
}

.content {
    font-weight: lighter;
    font-size: 18px;
    color: white;
    position: relative;
    top: 0.5vh;
    opacity: 0.8;
}

.icon {
    opacity: 0.7;
}

.logoutlogo {
    color: white;
    position: relative;
    left: 4.5vw;
    bottom: 6vh;
}

.logouttext {
    position: absolute;
    left: 6.3vw;
    bottom: 5.5vh;
    color: white;
    font-weight: 400;
    font-size: medium;
}