<div class="nav">
    <div class="logo">
        <img src="/assets/logo.png" />
        <p class="logotitle">A DOORSTEP LAUNDRY SERVICE</p>
    </div>

    <div class="options">
        <div class="booking" routerLink="/bookings">
            <mat-icon class="icon">event</mat-icon>
            <p class="content">&nbsp;&nbsp;Bookings</p>
        </div>
        <div class="booking" routerLink="/customers">
            <mat-icon class="icon">people</mat-icon>
            <p routerLink="/customer" class="content">&nbsp;&nbsp;Customers</p>
        </div>
        <div class="booking" routerLink="/app-setting">
            <mat-icon class="icon">settings</mat-icon>
            <p class="content">&nbsp;&nbsp;App Settings</p>
        </div>
        <div class="booking" routerLink="/executive">
            <mat-icon class="icon">supervisor_account</mat-icon>
            <p class="content">&nbsp;&nbsp;Executives</p>
        </div>

        <div class="booking" routerLink="/store">
            <mat-icon class="icon">store</mat-icon>
            <p class="content">&nbsp;&nbsp;Stores</p>
        </div>
        <div class="booking" routerLink="/revenue">
            <mat-icon class="icon">monetization_on</mat-icon>
            <p class="content">&nbsp;&nbsp;Revenue</p>
        </div>
        <div class="booking" routerLink="/analytics">
            <mat-icon class="icon">show_chart</mat-icon>
            <p class="content">&nbsp;&nbsp;Analytics</p>
        </div>
    </div>

    <div>
        <mat-icon class="logoutlogo">power_settings_new</mat-icon>
        <p class="logouttext">LOG OUT</p>
    </div>
</div>