<!-- <div class="display-panel">
    <div style="height: 35%">
        <h4 style="color: white">BOOKING DETAILS</h4>

        <div style="display: flex; justify-content: space-between; padding: 2% 0" *ngFor="let serviceData of displayedData.dataToDisplay">
            <div class="key">{{ serviceData.title }}</div>
            <div class="value">{{ serviceData.value }}</div>
        </div>
    </div>

    <ng-container *ngIf="editing">
        <button class="save" (click)="save()">Save</button>
    </ng-container>
</div> -->