<div class="main" *ngIf="selectedBooking; else emptyBooking">
  <div class="card-list">
    <div *ngFor="let item of bookings" class="card-container">
      <mat-card
        class="card"
        [ngClass]="{ selected: item.cardData.selected }"
        (click)="setSelectedBooking(item)"
      >
        <div style="width: 24vh">
          <mat-card-title class="card-title"
            >{{ item.cardData.customerName }}
          </mat-card-title>
          <mat-card-content class="card-content">
            <ul>
              <div class="card-data">
                <mat-icon class="icon">shopping_card</mat-icon>
                <li>{{ item.cardData.storeName }}</li>
              </div>

              <div class="card-data">
                <mat-icon class="icon">date_range</mat-icon>
                <li>{{ item.cardData.date }}</li>
              </div>
            </ul>
          </mat-card-content>
        </div>

        <mat-icon id="edit-icon" (click)="editModeOn()">mode_edit</mat-icon>
        <!-- <mat-icon class="delete-icon" (click)="openDeleteConfirmationModal()">delete</mat-icon> -->
        <mat-icon (click)="deleteBooking()" class="delete-icon"
          >delete</mat-icon
        >
      </mat-card>
    </div>
  </div>

  <div class="details">
    <div class="booking-details">
      <!-- BOOKING DETAILS -->
      <div>
        <h4 style="color: white">BOOKING DETAILS</h4>

        <div
          style="
            display: flex;
            justify-content: space-between;
            padding: 2% 0 0 3%;
          "
          *ngFor="let bookingDetail of selectedBooking.bookingDetails"
        >
          <div class="key">{{ bookingDetail.title }}</div>
          <div class="value">{{ bookingDetail.value }}</div>
        </div>
      </div>

      <!-- PICKUP AND DELIVERY DETAILS -->
      <div style="padding-top: 2vh">
        <h4 id="head-line" style="color: white">PICKUP AND DELIVERY DETAILS</h4>
        <!-- <div class="pickuppartner" style="display: flex; flex-direction: row">
                    <div class="key">Pickup Partner</div>
                    <mat-form-field style="height: 100%; width: 12vw; text-align: center" appearance="fill">
                        <mat-label style="text-align: center; color: black; font-size: small">Pickup partner</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let partner of partner" [value]="partner">{{ partner }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="pickuppartner" style="display: flex; flex-direction: row">
                    <div class="key">Delivery Partner</div>
                    <mat-form-field style="height: 100%; width: 12vw; text-align: center" appearance="fill">
                        <mat-label style="text-align: center; color: black; font-size: small">Delivery Partner</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let partner of partner" [value]="partner">{{ partner }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
        <div
          style="display: flex; padding: 2% 0 0 3%"
          *ngFor="let item of selectedBooking.pickUpAndDeliveryDetails"
        >
          <div class="key">{{ item.title }}</div>
          <div class="value">{{ item.value }}</div>
        </div>
      </div>

      <!-- BILL CONTENTS-->
      <div style="padding-top: 2vh">
        <h4 style="color: white">SERVICES</h4>

        <mat-table
          [dataSource]="selectedBooking.selectedService"
          class="service-table"
        >
          <ng-container style="width: 40%" matColumnDef="serviceName">
            <mat-header-cell
              style="border-radius: 5px 0 0 5px"
              class="table-header-cell"
              *matHeaderCellDef
            >
              Service Name
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="category">
            <mat-header-cell class="table-header-cell" *matHeaderCellDef>
              Category
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.category }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <mat-header-cell class="table-header-cell" *matHeaderCellDef>
              Unit Price
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="!editMode; else editTemplate">
                {{ element.unitPrice }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="element.unitPrice"
                />
              </ng-template>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="unitOfCalculation">
            <mat-header-cell class="table-header-cell" *matHeaderCellDef>
              Unit Of Calculation
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="!editMode; else editTemplate">
                {{ element.unitOfCalculation }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="element.unitOfCalculation"
                />
              </ng-template>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell class="table-header-cell" *matHeaderCellDef>
              Quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="!editMode; else editTemplate">
                {{ element.quantity }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="element.quantity"
                />
              </ng-template>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell
              style="border-radius: 0 5px 5px 0"
              class="table-header-cell"
              *matHeaderCellDef
            >
              Amount (in Rs)
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <div *ngIf="!editMode; else editTemplate">
                {{ element.amount }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="element.amount"
                />
              </ng-template>
            </mat-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns"
            style="border-radius: 5px"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <div id="final-bill">
          <div class="bill-item">
            <div style="flex: 0.85; text-align: right; margin-top: 1.3vh">
              Total service amount (in Rs)
            </div>
            <div class="input-box">
              <div
                style="margin-top: 1.3vh"
                *ngIf="!editMode; else editTemplate"
              >
                {{ selectedBooking.bill.totalServiceAmount }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="selectedBooking.bill.totalServiceAmount"
                />
              </ng-template>
            </div>
          </div>
          <div class="bill-item">
            <div style="flex: 0.85; text-align: right; margin-top: 1.3vh">
              Delivery charges
            </div>
            <div class="input-box">
              <div
                style="margin-top: 1.3vh"
                *ngIf="!editMode; else editTemplate"
              >
                {{ selectedBooking.bill.totalServiceAmount }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="selectedBooking.bill.totalServiceAmount"
                />
              </ng-template>
            </div>
          </div>
          <div class="bill-item">
            <div style="flex: 0.85; text-align: right; margin-top: 1.3vh">
              GST
            </div>
            <div class="input-box">
              <div
                style="margin-top: 1.3vh"
                *ngIf="!editMode; else editTemplate"
              >
                {{ selectedBooking.bill.totalServiceAmount }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="selectedBooking.bill.totalServiceAmount"
                />
              </ng-template>
            </div>
          </div>
          <div
            class="bill-item"
            style="
              margin-top: 3vh;
              margin-bottom: 2vh;
              border-top: 1px solid black;
            "
          >
            <div style="flex: 0.85; text-align: right; margin-top: 1.3vh">
              Total Amount
            </div>
            <div class="input-box">
              <div
                style="margin-top: 1.3vh"
                *ngIf="!editMode; else editTemplate"
              >
                {{ selectedBooking.bill.totalServiceAmount }}
              </div>
              <ng-template #editTemplate>
                <input
                  class="edit-box"
                  type="text"
                  [(ngModel)]="selectedBooking.bill.totalServiceAmount"
                />
              </ng-template>
            </div>
          </div>
          <ng-container style="margin-top: 2vh" *ngIf="editMode">
            <button id="save-button" (click)="save()">Save</button>
          </ng-container>
        </div>
      </div>

      <!-- APPROVE BUTTON-->
      <div
        *ngIf="this.tab === 'PENDING'"
        id="approve-reject-box"
        style="padding-top: 2vh"
      >
        <div class="approve-button-box">
          <button
            class="approve-button"
            (click)="updateBookingStatus(selectedBooking.id, 'OUT_FOR_PICKUP')"
          >
            APPROVE
          </button>
          <mat-icon id="drop-down-logo" (click)="showElements = !showElements"
            >arrow_drop_down</mat-icon
          >
        </div>
        <button *ngIf="showElements" class="reject-button">REJECT</button>
      </div>

      <!-- Ready to Deliver button -->
      <div *ngIf="this.tab === 'ONGOING'" id="btns" style="padding-top: 2vh">
        <div class="btns-inner">
          <button
            class="btns-actual"
            (click)="updateBookingStatus(selectedBooking.id, 'OUT_FOR_PICKUP')"
          >
            READY TO DELIVER
          </button>
        </div>
      </div>

      <!-- Complete button -->
      <div
        *ngIf="this.tab === 'OUT_FOR_DELIVERY'"
        id="btns"
        style="padding-top: 2vh"
      >
        <div class="btns-inner">
          <button
            class="btns-actual"
            (click)="updateBookingStatus(selectedBooking.id, 'OUT_FOR_PICKUP')"
          >
            COMPLETE
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyBooking style="height: 100vh">
  <washly-empty-screen></washly-empty-screen>
</ng-template>
