<div class="main">
    <div class="card-list">
        <div *ngFor="let item of bookings" class="card-container">
            <mat-card class="card" [ngClass]="{ selected: item.cardData.selected }" (click)="setSelectedBooking(item)">
                <mat-card-title>{{ item.cardData.bookingId }} </mat-card-title>
                <mat-card-content class="card-content">
                    <ul>
                        <li>{{ item.cardData.storeName }}</li>
                        <li>{{ item.cardData.date }}</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="details">
        <div class="booking-details">
            <!-- BOOKING DETAILS -->
            <div style="height: 35%">
                <h4 style="color: white">BOOKING DETAILS</h4>

                <div style="display: flex; justify-content: space-between; padding: 2% 0" *ngFor="let bookingDetail of selectedBooking.bookingDetails">
                    <div class="key">{{ bookingDetail.title }}</div>
                    <div class="value">{{ bookingDetail.value }}</div>
                </div>
            </div>

            <!-- PICKUP AND DELIVERY DETAILS -->
            <div style="height: 65%; margin-top: 19%">
                <h4 style="color: white">PICKUP AND DELIVERY DETAILS</h4>
                <div style="display: flex; justify-content: space-between; padding: 3% 0" *ngFor="let item of selectedBooking.pickUpAndDeliveryDetails">
                    <div class="key">{{ item.title }}</div>
                    <div class="value">{{ item.value }}</div>
                </div>
            </div>
        </div>

        <!-- Service details -->
        <div class="service-details">
            <div class="service-title">
                <h4 class="bill-details-title">BILL DETAILS</h4>
                <mat-icon class="edit-icon" (click)="editModeOn()">mode_edit</mat-icon>
               <div id="approve-reject-box"> 
                  <div class="approve-button-box" ><button class="approve-button"><p class="approve-button-cont">APPROVE</p></button>
                    <mat-icon id="drop-down-logo" (click)="showElements=!showElements" >arrow_drop_down</mat-icon>
                </div>
                <button *ngIf="showElements"  class="reject-button"><p class="approve-button-cont">REJECT</p></button>
                 </div>
            </div>

            <div class="bill-contents">
                <div class="service-table">
                    <table class="service-table-data">
                        <tr id="table-header">
                            <th>Service Name</th>
                            <th>No of items</th>
                            <th id="table-header-box">Weight of items<br />(In Kg)</th>
                            <th>Amount<br />(In Rs)</th>
                        </tr>
                        <tr *ngFor="let item of items">
                            <td style="
                  width: 12vw;
                  height: 6vh;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 15px;
                  line-height: 16px;
                  color: #000000;
                  justify-content: center;
                ">
                                <!-- use *ngIf to show and hide the form control based on the editing state of the row -->
                    <input style="
                    width: 12vw;
                    height: 4vh;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 16px;
                    border: 0.5px solid rgba(33, 36, 39, 0.25);
                    color: #000000;
                    justify-content: center;
                  " *ngIf="editing; else name" type="text" [(ngModel)]="item.name" required />
                                <ng-template #name>{{ item.name }}</ng-template>
                            </td>
                            <td style="width: 7vw; height: 4vh">
                                <input style="width: 6vw; height: 4vh; border: 0.5px solid rgba(33, 36, 39, 0.25);" *ngIf="editing; else quantity" type="number" [(ngModel)]="item.quantity" required />
                                <ng-template #quantity>{{ item.quantity }}</ng-template>
                            </td>
                            <td style="width: 7vw; height: 4vh">
                                <input style="width: 6vw; height: 4vh;border: 0.5px solid rgba(33, 36, 39, 0.25);" *ngIf="editing; else weight" type="text" [(ngModel)]="item.weight" required />
                                <ng-template #weight>{{ item.weight }}</ng-template>
                            </td>
                            <td style="
                  width: 7vw;
                  height: 4vh;

                  justify-content: center;
                ">
                                <input style="
                    width: 6vw;
                    justify-content: center;
                    align-items: center;
                    height: 4vh;border: 0.5px solid rgba(33, 36, 39, 0.25);
                  " *ngIf="editing; else amount" type="text" [(ngModel)]="item.amount" required />
                                <ng-template #amount>{{ item.amount }}</ng-template>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="service-bill">
                    <!-- <div class="service-bill-details"  *ngFor="let object of objects">
                <div class="billtag">{{object.billTag}}</div>
               <div> <input style=" width: 6vw;justify-content: center;align-items: center;
                      height: 4vh;" *ngIf="editing; else billAmount" type="text" [(ngModel)]="object.billAmount" required />
                <ng-template  #billAmount>{{ object.billAmount}}</ng-template></div>
               </div> -->
                    <div class="service-bill-details">
                        <span class="billtag"><p>Total service amount</p></span>
                        <!-- <span class="billamount">
                    <input style=" width: 6vw;justify-content: center;align-items: center;
                      height: 4vh;" *ngIf="editing;" type="text" [(ngModel)]="total" (keyup)="getTotalAmount()"  required />
                <ng-template #total > {{getTotalAmount() }}</ng-template>
                  </span> -->
                 <span class="billamount"> 
                    <input style=" width: 6vw;justify-content: center;align-items: center; border: 1px solid red;
                      height: 4vh;" *ngIf="editing;" type="text" [(ngModel)]="total" (keyup)="getTotalAmount()"  required />
                        <!-- <ng-template #totalServiceAmount>{{ item.amount }}</ng-template> -->

                     <p class="totalamount"> {{ this.total }}</p></span>
                    </div>
                    <div class="service-bill-details">
                        <span class="billtag"><p>Delivery charges</p></span>
                  <input style=" width: 6vw;justify-content: center;align-items: center;border: 0.5px solid rgba(33, 36, 39, 0.25);
                      height: 4vh;"  type="text" [(ngModel)]="text"   required />
                      
                    </div>
                    <div class="service-bill-details">
                        <span class="billtag"><p>GST</p></span>
                  <input style=" width: 6vw;justify-content: center;align-items: center;border: 0.5px solid rgba(33, 36, 39, 0.25);
                      height: 4vh;"  type="text" [(ngModel)]="text"   required />
                      
                    </div>
                    <div class="service-bill-details">
                        <span class="billtag"><p>Total</p></span>
                  <input style=" width: 6vw;justify-content: center;align-items: center;border: 0.5px solid rgba(33, 36, 39, 0.25);
                      height: 4vh;"  type="text" [(ngModel)]="text"   required />
                      
                    </div>

                    <ng-container *ngIf="editing">
                        <button class="save-button" (click)="save()">Save</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>