.main {
    height: 100%;
    display: flex;
}

.card-list {
    width: 23vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: scroll;
}

.card-container {
    padding: 2vh 2.5vh 0 5vh;
}

.card {
    /* box-sizing: border-box;
    */
    padding-left: 1vw;
    padding-top: 0.8vh;
    box-shadow: 3px 3px 5px 0px rgba(0.2, 0, 0, 0.2), -3px -3px 5px 0px rgba(0.2, 0, 0, 0.2);
    background-color: #f5f4ee;
    cursor: pointer;
}

.card.selected {
    background-color: rgba(33, 36, 39, 0.06);
}

.card-content {
    position: relative;
    left: -1vw;
}


/* 
Details: 
   Total aval. width - 59vw
   Toatal aval. height - 77vh */

.details {
    flex-grow: 1;
    padding: 5.1vh 2.5vh 0vh 2.5vh;
    display: flex;
}

.booking-details {
    width: 28vw;
    height: 77.5vh;
    background-color: #212427;
    border-radius: 5px 0 0 5px;
    padding: 3vh;
    overflow: scroll;
}

.key {
    width: 50%;
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
}

.value {
    width: 50%;
    text-align: left;
    color: white;
}


/* Service details */

.service-details {
    width: 28vw;
    height: 77.5vh;
    background-color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 2vh;
    
}

.service-title {
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.bill-details-title {
    color: black;
    font-weight: 500;
    position: relative;
    
}

.edit-icon {
    margin-left: 0.75vw;
    position: relative;
    bottom: 1px;
    
}

.service-title-header {
    width: 9vw;
    height: 3vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
   
}

.bill-contents {
    width: 36vw;
    height: 91vh;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    
}

.service-table {
    width: 25.5vw;
    height: 77.5vh;
}

.service-table-data {
    width: 25.5vw;
    height: 77.5vh;
  
    align-items: center;
    justify-content: center;
   
}


/* .service-table{
    overflow: hidden;
    overflow-y: auto;
}
.service-table::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
} */

#table-header {
    width: 100%;
    height: 7vh;
    background: rgba(42, 46, 50, 0.78);
    /* border: 1px solid rgba(42, 46, 50, 0.09); */
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}

.service-bill {
    width: 100%;
    height: 31vh;
    background: rgba(42, 46, 50, 0.04);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.service-bill-details {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
}

.billtag {
    width: 15vw;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    border: 1px solid red;
}

.totalamount{
    width: 6vw;
    height: 4vh;
    justify-content:space-evenly;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #000000;
    border: 1px solid red;
}

.save-button {
    width: 10vw;
    height: 5vh;
    background: rgba(215, 239, 125, 0.58);
    border-radius: 5px;
}

.approve-button-box{
    width: 8.5vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    background: rgba(215, 239, 125, 0.75);
    border: 0.35px solid #A2B84E;
    border-radius: 2px;
   
}
.approve-button{
    width: 6.5vw;
    height: 3vh;
   border-right: 0.5px solid #212427;
  margin-top: 0.4vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.reject-button{
    width: 6.5vw;
    height: 3vh;
   border: 0.5px solid #212427;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #FE8F8F;
  border: 0.4px solid rgba(33, 36, 39, 0.22);
  border-radius: 2px;
    
   z-index: 100;
}
.approve-button-cont{
   margin-top: 0.2vh;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 10px;
text-align: center;
align-items: center;
  justify-content: center;
color: #212427;

}
#approve-reject-box{
    display: flex;
    flex-direction: column;
    width: 8.5vw;
    height: 7vh;
   
margin-left: 13vh;
}