.main {
    height: 100%;
    display: flex;
}

.card-list {
    width: 23vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    overflow: scroll;
}

.card-container {
    padding: 2vh 2.5vh 0 5vh;
}

.card {
    /* box-sizing: border-box;
    */
    padding-left: 1vw;
    padding-top: 0.8vh;
    box-shadow: 3px 3px 5px 0px rgba(0.2, 0, 0, 0.2), -3px -3px 5px 0px rgba(0.2, 0, 0, 0.2);
    background-color: #f5f4ee;
    cursor: pointer;
}

.card.selected {
    background-color: rgba(33, 36, 39, 0.06);
}

.card-content {
    position: relative;
    left: -1vw;
}


/* 
Details: 
   Total aval. width - 59vw
   Toatal aval. height - 77vh */

.details {
    flex-grow: 1;
    padding: 5.1vh 2.5vh 0vh 2.5vh;
    display: flex;
}

.booking-details {
    width: 28vw;
    height: 77.5vh;
    background-color: #212427;
    border-radius: 5px 0 0 5px;
    padding: 3vh;
    overflow: scroll;
}

.key {
    width: 50%;
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
}

.value {
    width: 50%;
    text-align: left;
    color: white;
}


/* Service details */

.service-details {
    width: 28vw;
    height: 77.5vh;
    background-color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 2vh;
}

.service-title {
    height: 9vh;
    width: 28vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 2.1vh 2vh 0 2vh;
    background-color: yellowgreen;
}

.bill-details-title {
    color: black;
    font-weight: 500;
    text-align: left;
    margin-top: 1vh;
}

.edit-icon {
    cursor: pointer;
    margin-top: 0.2vh;
    margin-left: 0.75vw;
    font-size: large;
    margin-top: 1.1vh;
}

#cancel-icon {
    cursor: pointer;
    font-size: x-large;
    margin-top: 1.1vh;
}

#save-button {
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    background: rgba(215, 239, 125, 0.9);
    border: 0.65px solid #a2b84e;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 11px;
    /* identical to box height */
    color: #212427;
    align-self: center;
}

.service-title-header {
    width: 9vw;
    height: 3vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.bill-contents {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: violet;
    margin-top: 9vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 5vh;
}

.table-header-cell {
    color: white;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

#final-bill {
    width: 100%;
    height: 30vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bill-items {
    padding: 1vh 0 1vh 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    background-color: aquamarine;
}

#final-bill>div:last-child {
    border-top: 1px solid black;
}

.input-box {
    flex: 0.35;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.mat-column-serviceName {
    /* Increase width of Service Name column */
    min-width: 30%;
    max-width: 30%;
}

.service-table {
    width: 100%;
    height: auto;
}

.service-table-data {
    width: 100%;
    height: auto;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

#table-header {
    width: 100%;
    height: 7vh;
    background: rgba(42, 46, 50, 0.78);
    /* border: 1px solid rgba(42, 46, 50, 0.09); */
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}

.service-bill {
    width: 100%;
    height: 31vh;
    background: rgba(42, 46, 50, 0.04);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-bill-details {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid red;
}

.billtag {
    width: 15vw;
    justify-content: center;
    align-items: center;
    height: 4vh;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    border: 1px solid red;
}

.totalamount {
    width: 6vw;
    height: 4vh;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #000000;
    border: 1px solid red;
}

.save-button {
    width: 10vw;
    height: 5vh;
    background: rgba(215, 239, 125, 0.58);
    border-radius: 5px;
}

.approve-button-box {
    width: 8.5vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5vw;
    background: rgba(215, 239, 125, 0.75);
    border: 0.35px solid #a2b84e;
    border-radius: 2px;
}

.approve-button {
    border-right: 0.5px solid #212427;
    width: 6vw;
}

.reject-button {
    width: 6.5vw;
    height: 3vh;
    border: 0.5px solid #212427;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #fe8f8f;
    border: 0.4px solid rgba(33, 36, 39, 0.22);
    border-radius: 2px;
    position: absolute;
    top: 4.2vh;
    z-index: 4;
}

.approve-button-cont {
    margin-top: 0.2vh;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #212427;
}

#approve-reject-box {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-left: 13vh;
    position: relative;
}

.edit-box {
    padding: 15px !important;
    padding-left: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
    border-radius: 3px;
    text-align: right;
}