<html>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@700&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
</head>

<body>
    <div class="outerbox">
        <div class="nav-bar">
            <washly-nav-bar></washly-nav-bar>
        </div>

        <!-- main con start div -->
        <div class="main-container">
            <div style="display: contents">
                <washly-header [heading]="'Customers'"></washly-header>
            </div>

            <div class="main-content">

                <div class="tab-area">
                    <p class="name">Name
                    </p>
                    <img src="../../assets/Drop down 14.svg" class="dropdown">

                    <washly-customer-details></washly-customer-details>
                </div>

            </div>
        </div>
    </div>
</body>

</html>