.outerbox {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.nav-bar {
  display: contents;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f5f4ee;
}

@media screen and (max-width: 1370px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
@media screen and (max-width: 1540px) {
  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.dropdown {
  width: 15px;
  height: 25px;
  margin-left: 9px;
}

.recent {
  height: 38px;
  width: 150px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  margin-left: 70px;
  cursor: pointer;
}
.tab-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.recentsearch {
  margin: 0%;
}
.search {
  height: 38px;
  width: 550px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  cursor: pointer;
}
.searchimg {
  margin-left: 15px;
  height: 30px;
  width: 25px;
}
.search2 {
  outline: none;
  padding-left: 10px;
  width: 500px;
}
