.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;

}

.blur {
  filter: blur(5px);
}

.container {
   
  width: 85vw;
  height: 100vh;
  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.03);
}


/* .title {
  position: absolute;
  width: 160px;
  height: 10px;
  left: 32px;
  margin-top: 120px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  opacity: 1;
} */
.option {
  width: 500px;
  height: 30px;
  margin-left: 40px;
  margin-top: -89vh;
  display: flex;
  flex-direction: row;
  
  position: absolute;
}
.option1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  margin-left: 2vw;
  color: rgba(33, 36, 39, 0.75);

  opacity: 0.75;
}
.option2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;

  color: #000000;
  margin-left: 2vw;
}



.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.mat-tab-label {
  width: 30%;
}