<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:ital,wght@0,700;1,400&family=Roboto&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="main-container" [ngClass]="{ blur: isModalActive }">
        <washly-nav-bar></washly-nav-bar>
        <div class="container">
            <washly-header></washly-header>
            <div class="option">
                <!-- <div (click)="service()" class="option1">Service</div>
                <div class="option2">Campaigns</div> -->
                <mat-tab-group>
                    <mat-tab class="option1" label="Service"><washly-service-page></washly-service-page> </mat-tab>
                    <mat-tab class="option2" label="Campaign"></mat-tab>

                </mat-tab-group>
            </div>
            <div *ngIf="showDiv" class="inner-container">
                <div class="service-list">
                    <div *ngFor="let item of items; let i = index" class="list">
                        {{item.name}} <img class="editimg" (click)="editing()" [src]="item.icon1"> <img
                            (click)="openDeleteConfirmationModal()" class="deleteimg" [src]="item.icon2">
                        <div class="status" *ngIf="item.status==='active'">
                            <img src="/assets/greendot.png">
                        </div>
                        <div class="status" *ngIf="item.status==='inactive'">
                            <img src="/assets/red.png">
                        </div>
                    </div>

                    <div class="list" id="addlist">ADD NEW +</div>
                </div>
                <div class="details">
                    <div class="details-list">
                        <div class="leftsidelist">Heading</div>
                        <div class="rightsidelist">50 % OFFER</div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Description</div>
                        <div class="rightsidelist">
                            Grab your offer by using Promo code FIRST
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Button</div>
                        <div class="rightsidelist">KNOW MORE</div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Image URL</div>
                        <div class="rightsidelist">
                            https://pixabay.com/images/search/nature/
                        </div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Start date</div>
                        <div class="rightsidelist">28/10/2022</div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">End date</div>
                        <div class="rightsidelist">18/10/2022</div>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Status</div>
                        <div class="rightsidelist">ACTIVE</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal component -->
    <washly-app-delete-confirmation-modal *ngIf="isModalActive" [isActive]="isModalActive"
        (close)="closeDeleteConfirmationModal()" (delete)="deleteItem()"></washly-app-delete-confirmation-modal>
</body>

</html>