.process{
    width:80vw;
    height: 85vh;
   background: rgba(33, 36, 39, 0.06);
border: 1px solid rgba(33, 36, 39, 0.24);
box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);
border-radius: 5px;
    color:black;
   text-align: center;
   padding: 40vh;
   margin-left: 1.5vw;
   margin-top: 2vh;
   font-weight: 700;
   font-size: x-large;
 
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  

}