<div *ngIf="showDiv" class="inner-container">
    <div class="service-list">
        <div *ngFor="let item of items; let i = index" class="list">
            {{item.name}} <img class="editimg" (click)="editing()" [src]="item.icon1"> <img
                (click)="openDeleteConfirmationModal()" (click)="toggleBlur()" class="deleteimg" [src]="item.icon2">
            <div class="status" *ngIf="item.status==='active'">
                <img src="/assets/greendot.png">
            </div>
            <div class="status" *ngIf="item.status==='inactive'">
                <img src="/assets/red.png">
            </div>
        </div>

        <div class="list" id="addlist">ADD NEW +</div>
    </div>
    <div class="details">
        <div class="details-list">
            <div class="leftsidelist">Heading</div>
            <div class="rightsidelist">50 % OFFER</div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">Description</div>
            <div class="rightsidelist">
                Grab your offer by using Promo code FIRST
            </div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">Button</div>
            <div class="rightsidelist">KNOW MORE</div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">Image URL</div>
            <div class="rightsidelist">
                https://pixabay.com/images/search/nature/
            </div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">Start date</div>
            <div class="rightsidelist">28/10/2022</div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">End date</div>
            <div class="rightsidelist">18/10/2022</div>
        </div>
        <div class="details-list">
            <div class="leftsidelist">Status</div>
            <div class="rightsidelist">ACTIVE</div>
        </div>
    </div>
</div>
<washly-app-delete-confirmation-modal *ngIf="isModalActive" [isActive]="isModalActive"
    (close)="closeDeleteConfirmationModal()" (delete)="deleteItem()"></washly-app-delete-confirmation-modal>