/* .main-container {
  display: flex;
  width: 898px;
  height: 100vh;
} */

.blur {
  filter: blur(5px);
}

/* .container {
  position: absolute;
  width: 1280px;
  height: 100vh;
  left: 242px;

  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.03);
} */

.title {
  position: absolute;
  width: 160px;
  height: 10px;
  left: 32px;
  margin-top: 120px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 1000;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  opacity: 1;
}


.option {
  width: 210px;
  height: 30px;
  margin-left: 40px;
  margin-top:-88vh;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid gray;
}
.option1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  margin-left: 2vw;
  color: #000000;

  
}
.option2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  color: rgba(33, 36, 39, 0.75);
  opacity: 0.75;
  margin-left: 2vw;
}

.inner-container {
  box-sizing: border-box;

  position: absolute;
  width: 1200px;
  height: 580px;
  left: 40px;
  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
}
.service-list {
  width: 420px;
  height: 540px;
  margin-left: 28px;
  margin-top: 10px;
  overflow-y: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.service-list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.list {
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  margin-left: 60px;
  margin-top: 30px;
  padding-left: 10px;
  padding-top: 17px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(33, 36, 39, 0.1);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
  border-radius: 6px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
#addlist {
  background: rgba(33, 36, 39, 0.95);
  border: 1px solid rgba(33, 36, 39, 0.42);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
  border-radius: 4px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;

  color: #ffffff;
}
.details {
  position: absolute;
  width: 650px;
  height: 250px;
  left: 500px;
  top: 40px;

  background: #212427;
  box-shadow: 0px 2px 8px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.details-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 550px;
  height: 60px;
  margin-left: 50px;
  margin-top: 8px;
  color: #ffffff;
}
.leftsidelist {
  padding-top: 13px;
  width: 150px;
  height: 50px;
  margin-top: 2vh;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  margin-left: 4vw;
  color: rgba(255, 255, 255, 0.85);

  opacity: 0.8;
}
.rightsidelist {
  padding-top: 14px;
  width: 300px;
  height: 50px;
  margin-left: 16px;
  margin-top: 2vh;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  background: #212427;
}

.editimg {
  width: 15px;
  height: 15px;
  margin-left: 13vw;
  margin-top: -1.5vh;
}
.deleteimg {
  width: 15px;
  height: 15px;
  margin-left: 15vw;
  margin-top: -2vh;
}
.status {
  
  width: 8px;
  height: 8px;
  margin-top:-4vh;
  margin-left: 18vw;
}
