.header {
    width: 80vw;
    height: 7vh;
    margin-left: 8px;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heading {
    width: auto;
    height: 40px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #000000;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.15);
}

.sync-text {
    margin: 9px 0 0 6px;
}

.loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #555;
    border-top-color: #f3f3f3;
    animation: spin 1s linear infinite;
    margin-left: 15px;
    margin-top: 10px;
    padding-top: 10px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.subtitle {
    width: 250px;
    height: 45px;
    margin-left: -7vw;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settingicon {
    width: 30px;
    height: 30px;
    margin-left: 25px;
    margin-top: 11px;
    opacity: 0.5;
    cursor: pointer;
}

.bellicon {
    margin-top: 11px;
    margin-left: -3px;
    width: 30px;
    height: 30px;
    opacity: 0.65;
    cursor: pointer;
}

.profile-box {
    width: 110px;
    height: 22px;
    margin-left: 25px;
    margin-top: 15px;
    /* margin-top: 8px; */
    /* border: 1px solid #000000; */
    background: rgba(33, 36, 39, 0.2);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.11);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.profile-img {
    width: 42px;
    height: 42px;
    margin-left: -2px;
    border: 1px solid rgba(197, 195, 192, 0.75);
    border-radius: 34px;
    /* border: 1px solid #000000; */
}

.profile-word {
    width: 36px;
    height: 12px;
    text-align: center;
    margin-left: 7px;
    margin-top: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);
    padding-top: 2px;
}