<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Roboto&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:ital,wght@0,700;1,400&family=Roboto&family=Roboto+Condensed&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="header">
        <div class="heading">App settings</div>
        <div class="subtitle">
            <img class="bellicon" src="/assets/Notifications.png" />
            <img class="settingicon" src="/assets/Setting.png" />
            <div class="profile-box">
                <img class="profile-img" src="/assets/profileicon.png" />
                <p class="profile-word">PROFILE</p>
            </div>
        </div>
    </div>
</body>

</html>