.header {
  width: 80vw;
  height: 9vh;
  margin-left: 8px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subtitle {
  width: 250px;
  height: 45px;
  margin-left: -7vw;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  width: 180px;
  height: 26px;
  margin-left: 2vw;

  margin-top: 10px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 26px;

  color: #000000;

  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.15);
}
.settingicon {
  width: 30px;
  height: 30px;
  margin-left: 25px;
  margin-top: 11px;

  opacity: 0.5;
}
.bellicon {
  margin-top: 11px;
  margin-left: -3px;
  width: 30px;
  height: 30px;
  opacity: 0.65;
}
.profile-box {
  width: 110px;
  height: 22px;
  margin-left: 25px;
  margin-top: 15px;

  /* margin-top: 8px; */
  /* border: 1px solid #000000; */
  background: rgba(33, 36, 39, 0.2);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-img {
  width: 42px;
  height: 42px;

  margin-left: -2px;
  border: 1px solid rgba(197, 195, 192, 0.75);
  border-radius: 34px;
  /* border: 1px solid #000000; */
}
.profile-word {
  width: 36px;
  height: 12px;
  text-align: center;
  margin-left: 7px;
  margin-top: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.75);
  padding-top: 2px;
}