.main {
  height: 100%;
  display: flex;
}

.card-list {
  margin-top: 3vh;
  height: 79vh;
  width: 23vw;

  padding-bottom: 3vh;
  overflow: scroll;
}

.card-container {
  padding: 2vh 2.5vh 0 10vh;
}

.card {
  /* box-sizing: border-box;
    */
  padding-left: 1vw;
  padding-top: 0.8vh;
  box-shadow: 3px 3px 5px 0px rgba(0.2, 0, 0, 0.2),
    -3px -3px 5px 0px rgba(0.2, 0, 0, 0.2);
  background-color: #f5f4ee;
  cursor: pointer;
}

.card.selected {
  background-color: rgba(33, 36, 39, 0.1);
}

.card-content {
  position: relative;
  left: -1vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* 
Details: 
   Total aval. width - 59vw
   Toatal aval. height - 77vh */

.details {
  flex-grow: 1;
  padding: 5.1vh 2.5vh 0vh 15vh;
  display: flex;
}

.booking-details {
  width: 36vw;
  height: 75.5vh;
  background-color: #212427;
  border-radius: 5px 0 0 5px;
  padding: 3vh;
  overflow: scroll;
}

.key {
  padding-left: 20px;
  width: 50%;
  text-align: left;
  color: rgba(255, 255, 255, 0.65);
}

.value {
  width: 50%;
  text-align: left;
  color: white;
}

/* Service details */

.phone {
  height: 18px;
}
.loc {
  height: 18px;
}
.number {
  padding-left: 10px;
}

@media screen and (max-width: 1370px) {
  .card-list::-webkit-scrollbar {
    display: none;
  }
  .booking-details::-webkit-scrollbar {
    display: none;
  }
  .service-details::-webkit-scrollbar {
    display: none;
  }
  .approve-button {
    line-height: 0.8vh;
  }
  #drop-down-logo {
    margin-top: -7px;
  }
  #head-line {
    padding-top: 5vh;
  }
}

@media screen and (max-width: 1540px) {
  .card-list::-webkit-scrollbar {
    display: none;
  }
  .booking-details::-webkit-scrollbar {
    display: none;
  }
  .service-details::-webkit-scrollbar {
    display: none;
  }

  .approve-button {
    line-height: 1vh;
  }
  #drop-down-logo {
    margin-top: -6px;
  }
  #head-line {
    padding-top: 3vh;
  }
}

.customerheader {
  display: flex;
  flex-wrap: wrap;
}
.info {
  margin-left: 38vh;
  cursor: pointer;
}

.dots {
  background: white;
  height: 25px;
  border-radius: 6.7px;
}

.detailsdiv {
  margin-left: 40vh;
  border: 3px solid white;
  border-radius: 10px;
  height: 12.5vh;
  width: 22vh;
  z-index: 10;
}
.view {
  background-color: white;
  margin-top: 14px;
  margin: 14px 10px 10px 10px;
  padding-left: 10px;
  border-radius: 7px;
  cursor: pointer;
  height: 3.5vh;
  padding-top: 0.5vh;
}
.unblock {
  color: red;
  width: 12vh;
  background-color: white;
  margin: 14px 10px 10px 35px;
  padding-left: 2.5vh;
  border-radius: 7px;
  cursor: pointer;
}
