<div class="main">
    <div class="card-list">
        <div *ngFor="let item of customers" class="card-container">
            <mat-card class="card" [ngClass]="{ selected: item.cardData.selected }" (click)="setSelectedcustomer(item)">
                <mat-card-title>{{ item.cardData.Name }} </mat-card-title>
                <mat-card-content class="card-content">

                    <img src="../../../assets/Phone 3.svg" class="phone">
                    <p class="number">{{ item.cardData.no }}</p>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="details">
        <div class="booking-details">


            <!--CUSTOMER DETAILS -->
            <div style="height: 35%">
                <h4 style="color: white">CUSTOMER DETAILS</h4>

                <div style="display: flex; justify-content: space-between; padding: 2% 0"
                    *ngFor="let customerDetails of selectedcustomer.customerDetails">
                    <div class="key">{{ customerDetails.title }}</div>
                    <div class="value">{{ customerDetails.value }}</div>
                </div>

                <h4 style="color: white">CONTACT INFO</h4>
                <div style="display: flex; justify-content: space-between; padding: 2% 0"
                    *ngFor="let customerDetail of selectedcustomer.contact">
                    <img src="../../../assets/Phone 2.svg" alt="" class="phone">
                    <div class="key">{{ customerDetail.title }}</div>
                    <div class="value">{{ customerDetail.value }}</div>
                </div>
                <h4 style="color: white">ADDRESSES</h4>
                <div style="display: flex; justify-content: space-between; padding: 2% 0"
                    *ngFor="let customerDetail of selectedcustomer.address">
                    <img src="../../../assets/Location 1.svg" class="loc">
                    <div class="key">{{customerDetail.title }}</div>
                    <div class="value">{{ customerDetail.value }}</div>
                </div>
            </div>


        </div>


    </div>
</div>