<html>

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Lato:wght@700&family=Open+Sans:wght@600&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-container">

        <washly-nav-bar></washly-nav-bar>
        <div class="container">
            <washly-header></washly-header>
            <div class="option">
                <div (click)="service()" class="option1">Service</div>
                <div (click)="campaign()" class="option2">Campaigns</div>
            </div>
            <div class="inner-container">
                <div class="service-list">
                    <div class="list">Campaign service 1</div>
                    <div class="list">Campaign service 2</div>
                    <div class="list">Campaign service 3</div>
                    <div class="list">Campaign service 4</div>
                    <div class="list">Campaign service 5</div>
                    <div class="list" id="addlist">ADD NEW +</div>

                </div>
                <div class="details">
                    <div class="details-list">
                        <div class="leftsidelist">Heading</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Description</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Button</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Image URL</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Start date</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">End date</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <div class="details-list">
                        <div class="leftsidelist">Status</div>
                        <textarea class="rightsidelist"></textarea>
                    </div>
                    <button class="save">SAVE</button>
                </div>

            </div>
        </div>
    </div>
</body>

</html>